## Example p.202

In [1]:
data = read.table("Tolucan.txt", header = TRUE)
d

Warning message in file(file, "rt"):
"cannot open file 'Tolucan.txt': No such file or directory"

ERROR: Error in file(file, "rt"): cannot open the connection

In [2]:
model=lm(data$workHours~data$lotSize)

In [3]:
summary(model)

Call:
lm(formula = data$workHours ~ data$lotSize)

Residuals:
    Min      1Q  Median      3Q     Max
-83.876 -34.088  -5.982  38.826 103.528

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)    62.366     26.177   2.382   0.0259 *
data$lotSize    3.570      0.347  10.290 4.45e-10 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 48.82 on 23 degrees of freedom
Multiple R-squared:  0.8215,	Adjusted R-squared:  0.8138
F-statistic: 105.9 on 1 and 23 DF,  p-value: 4.449e-10

In [4]:
X=matrix(c(rep(1,length(data$lotSize)),data$lotSize),ncol=2)

In [5]:
Y=matrix(c(data$workHours),ncol=1)

In [15]:
XtX=(t(X))%*%X
XtX

     [,1] [,2]
[1,]   25   1750
[2,] 1750 142300

In [16]:
XtY=(t(X))%*%Y
XtY

     [,1]
[1,]   7807
[2,] 617180

In [17]:
inverseXtX= solve((t(X))%*%X)
inverseXtX

     [,1]         [,2]
[1,]  0.287474747 -3.535354e-03
[2,] -0.003535354  5.050505e-05

In [6]:
b=solve((t(X))%*%X)%*%(t(X))%*%Y
b

     [,1]
[1,] 62.365859
[2,]  3.570202

In [18]:
coefficients(lm(Y~X))

(Intercept)          X1          X2
  62.365859          NA    3.570202

## 5.72

In [7]:
print(X %*% b)

          [,1]
 [1,] 347.9820
 [2,] 169.4719
 [3,] 240.8760
 [4,] 383.6840
 [5,] 312.2800
 [6,] 276.5780
 [7,] 490.7901
 [8,] 347.9820
 [9,] 419.3861
[10,] 240.8760
[11,] 205.1739
[12,] 312.2800
[13,] 383.6840
[14,] 133.7699
[15,] 455.0881
[16,] 419.3861
[17,] 169.4719
[18,] 240.8760
[19,] 383.6840
[20,] 455.0881
[21,] 169.4719
[22,] 383.6840
[23,] 205.1739
[24,] 347.9820
[25,] 312.2800

## 5.73

In [8]:
H=X %*% solve(t(X) %*% X) %*% t(X)

In [9]:
Y_hat=H %*% Y

In [10]:
print(H %*% Y)

          [,1]
 [1,] 347.9820
 [2,] 169.4719
 [3,] 240.8760
 [4,] 383.6840
 [5,] 312.2800
 [6,] 276.5780
 [7,] 490.7901
 [8,] 347.9820
 [9,] 419.3861
[10,] 240.8760
[11,] 205.1739
[12,] 312.2800
[13,] 383.6840
[14,] 133.7699
[15,] 455.0881
[16,] 419.3861
[17,] 169.4719
[18,] 240.8760
[19,] 383.6840
[20,] 455.0881
[21,] 169.4719
[22,] 383.6840
[23,] 205.1739
[24,] 347.9820
[25,] 312.2800

## Residual

In [11]:
redsidual= Y - X %*% b
redsidual

      [,1]
 [1,]  51.0179798
 [2,] -48.4719192
 [3,] -19.8759596
 [4,]  -7.6840404
 [5,]  48.7200000
 [6,] -52.5779798
 [7,]  55.2098990
 [8,]   4.0179798
 [9,] -66.3860606
[10,] -83.8759596
[11,] -45.1739394
[12,] -60.2800000
[13,]   5.3159596
[14,] -20.7698990
[15,] -20.0880808
[16,]   0.6139394
[17,]  42.5280808
[18,]  27.1240404
[19,]  -6.6840404
[20,] -34.0880808
[21,] 103.5280808
[22,]  84.3159596
[23,]  38.8260606
[24,]  -5.9820202
[25,]  10.7200000

In [14]:
e = Y - Y_hat
e

      [,1]
 [1,]  51.0179798
 [2,] -48.4719192
 [3,] -19.8759596
 [4,]  -7.6840404
 [5,]  48.7200000
 [6,] -52.5779798
 [7,]  55.2098990
 [8,]   4.0179798
 [9,] -66.3860606
[10,] -83.8759596
[11,] -45.1739394
[12,] -60.2800000
[13,]   5.3159596
[14,] -20.7698990
[15,] -20.0880808
[16,]   0.6139394
[17,]  42.5280808
[18,]  27.1240404
[19,]  -6.6840404
[20,] -34.0880808
[21,] 103.5280808
[22,]  84.3159596
[23,]  38.8260606
[24,]  -5.9820202
[25,]  10.7200000

# Example p.203

In [13]:
vcov(summary(model))

             (Intercept) data$lotSize
(Intercept)  685.258045  -8.4272774
data$lotSize  -8.427277   0.1203897